<!--<head>
    <link rel="stylesheet" href="customer-list.component-LIN59020098.css">
</head>-->
<body>
    
<h2 class="form-header" style="text-align: center;">Customer Form</h2>
<hr>
<form [formGroup]="customerFrom" class="container" (ngSubmit)="saveCustomer(customerFrom.value)">
    <div class="form-group">
        <div *ngIf="customerFrom.controls['userId'].errors &&
        (customerFrom.controls['userId'].touched || customerFrom.controls['userId'].dirty)" class="text-danger">
             Customer id is required
        </div>
        <div>
            <label class="label" for="userId">Customer Id :-</label>
            <input class="form-control" type="id" name="userId" id="userId" formControlName="userId" autofocus>
        </div>
    </div><br><br>
    <div class="form-group">
        <div *ngIf="customerFrom.controls['name'].errors &&
        (customerFrom.controls['name'].touched || customerFrom.controls['name'].dirty) " class="text-danger">
            Customer Name is required
        </div>
        <div>
            <label class="label" for="name">Customer Name :-</label>
            <input class="form-control" type="text" name="name" id="name" formControlName="name">
        </div>
    </div><br><br>
    <div class="form-group">
        <div *ngIf="customerFrom.controls['email'].errors &&
        (customerFrom.controls['email'].touched || customerFrom.controls['email'].dirty)" class="text-danger">
            Email id is required
        </div>
        <div>
            <label class="label" for="name">Email Address :-</label>
            <input class="form-control" type="text" name="email" id="email" formControlName="email" >
        </div>
    </div><br><br>
    <div class="form-group">
        <div *ngIf="customerFrom.controls['contactNo'].errors &&
            (customerFrom.controls['contactNo'].touched || customerFrom.controls['contactNo'].dirty)" class="text-danger">
            Contact no. is required
        </div>
        <div>
            <label class="label" for="contactNo">Contact No :-</label>
            <input class="form-control" type="text" name="contactNo" id="contactNo" formControlName="contactNo">
        </div>
    </div><br><br>
    <div class="form-group">
        <div *ngIf="customerFrom.controls['dob'].errors &&
            (customerFrom.controls['dob'].touched || customerFrom.controls['dob'].dirty)" class="text-danger">
            Date of birth is required
        </div>
        <div>
            <label class="label" for="category">Date Of Birth :-</label>
            <input class="form-control" type="date" name="dob" id="dob" formControlName="dob">
        </div>
    </div><br><br>
    <div class="form-group">
        <div *ngIf="customerFrom.controls['doorNo'].errors &&
            (customerFrom.controls['doorNo'].touched || customerFrom.controls['doorNo'].dirty)" class="text-danger">
            Door no.is required
        </div>
        <div>
            <label class="label" for="material">Door No :-</label>
            <input class="form-control" type="text" name="doorNo" id="doorNo" formControlName="doorNo">
        </div>
    </div>
    <br><br>
    <div class="form-group">
        <div *ngIf="customerFrom.controls['street'].errors &&
            (customerFrom.controls['street'].touched || customerFrom.controls['street'].dirty)" class="text-danger">
            Street. is required
        </div>
        <div>
            <label class="label" for="material">Street :-</label>
            <input class="form-control" type="text" name="street" id="street" formControlName="street">
        </div>
    </div><br><br>
<div class="form-group">
        <div *ngIf="customerFrom.controls['area'].errors &&
                (customerFrom.controls['area'].touched || customerFrom.controls['area'].dirty)" class="text-danger">
            Area is required
        </div>
        <div>
            <label class="label" for="material">Area :-</label>
            <input class="form-control" type="text" name="area" id=" area" formControlName="area">
        </div>
    </div><br><br>
<div class="form-group">
        <div *ngIf="customerFrom.controls['city'].errors &&
                (customerFrom.controls['city'].touched || customerFrom.controls['city'].dirty)" class="text-danger">
            City is required
        </div>
        <div>
            <label class="label" for="material">City :-</label>
            <input class="form-control" type="text" name="city" id="city" formControlName="city">
        </div>
    </div><br><br>
<div class="form-group">
        <div *ngIf="customerFrom.controls['state'].errors &&
                (customerFrom.controls['state'].touched || customerFrom.controls['state'].dirty)" class="text-danger">
            State is required
        </div>
        <div>
            <label class="label" for="material">State :-</label>
            <input class="form-control" type="text" name="state" id="state" formControlName="state">
        </div>
    </div><br><br>
    
    <div class="form-group">
        <div *ngIf="customerFrom.controls['pincode'].errors &&
                (customerFrom.controls['pincode'].touched || customerFrom.controls['pincode'].dirty)" class="text-danger">
            Pincode is required
        </div>
        <div>
            <label class="label" for="material">Pincode :-</label>
            <input class="form-control" type="text" name="pincode" id="pincode" formControlName="pincode">
        </div>
    </div><br><br>
    <div>
        
        <input type="submit" value="save Customer" class="btn btn-primary" [disabled]="customerFrom.invalid">
    </div>
</form><br><br>
<div class=tab>
<table >
    <tr *ngIf="customers.length > 0">
        <th>Customer Id</th>
        <th> Name</th>
        <th>EmailId</th>
        <th>Contact No</th>
        <th>DoB</th>
        <th>Door No.</th>
        <th>Street</th>
        <th>Area</th>
        <th>City</th>
        <th>State</th>
        <th>Pincode</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let cus of customers">
        <td>{{cus.userId}}</td>
        <td>{{cus.name}}</td>
        <td>{{cus.email}}</td>
        <td>{{cus.contactNo}}</td>
        <td>{{cus.dob}}</td>
        <td>{{cus.address.doorNo}}</td>
        <td>{{cus.address.street}}</td>
        <td>{{cus.address.area}}</td>
        <td>{{cus.address.city}}</td>
        <td>{{cus.address.state}}</td>
        <td>{{cus.address.pincode}}</td>

        <td>
            <button class="btn btn-danger" (click)="removeCustomer(cus.userId)">Remove</button>
            <button class="btn btn-success" (click)="updateCustomer(cus.userId)" style="margin-left: 20px;"> Update</button>
        </td>
        
    </tr>
    
</table>
</div>
</body>

        