body{
    background-image: url("https://images.unsplash.com/photo-1504198458649-3128b932f49e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTl8fGxhdW5kcnl8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60");
    
    background-repeat: no-repeat;

    background-attachment: fixed;

    background-position: center;

    
}
.form-control{
    background: none;
}

.form-header{
    font-family: cursive;
}

.label{
    font-family: cursive;
}

.tab{
    margin-left: 60px;
    margin-bottom: 10px;
}

table, th, td {
    border:2px solid black;
  }


